.c0 {
  color: #fff;
}
.c5 {
  color: #b2b2b2;
}
.c11 {
  color: #111;
}
.c8 {
  color: #595959;
}
.p1 {
  color: #ffbb00;
}
.bg1 {
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
}
.bc12 {
  background: #000;
}
